/*
primary color:#253b80
secondary color:#336699
selection color:#b5c4e1

titulos:font-family: 'Koulen',
cursive;
normal text: font-family: 'Open Sans',
sans-serif;


*/
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    height: auto;

}


.img-menu {
    height: auto;
}

.imgcet:hover {
    background-color: #253b80;
}

.navbar {
    overflow: hidden;
    background-color: #253b80;
}

.navbar a {
    float: left;
    font-size: 18px;
    color: #f9f9f9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-item {
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
}

.dropdown {
    float: left;
    overflow: hidden;

}

#downico {
    margin-left: 5px;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    margin: 0;
    background-color: #253b80;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #253b80;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #336699;
    color: #f9f9f9;
}

.carrousel {
    width: 100%;
    height: auto;
}

.carrousel img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #f2f2f2;
    font-size: 15px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    height: 70px;
    margin-bottom: -4px;
    background-color: #34384057;
    text-align: center;
    font-size: 30px;
    font-family: 'Open Sans',
        sans-serif;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.title {
    color: #253b80;
    font-family: 'Koulen',
        cursive;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
}

.subtitle {
    color: #336699;
    font-size: 28px;
    font-family: 'Open Sans',
        sans-serif;
    ;
    margin-top: -20px;
    text-align: center;
}

.infoContainer {
    grid-area: infoContainer;

}

.iContent {
    display: flex;
    flex-direction: column;

}

.tabcontent {
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-size: 20px;

}

.show {
    display: block;
}

.Pestudio a {
    text-decoration: none;
    color: #343840;
    font-family: 'Open Sans',
        sans-serif;
}

.Acet {
    color: #343840;
    font-family: 'Open Sans',
        sans-serif;
    text-align: justify;
    list-style-position: inside;
    margin-bottom: 10px;
}

.Pestudio {
    margin: 10px;
}

.panel {


    background-color: white;
    display: none;
    overflow: hidden;

}

.active,
.accordion:hover {
    background-color: #ccc;
}

.Atitle {
    color: #253b80;
    font-family: 'Koulen',
        cursive;
    font-size: 30px;
    text-align: left;

}


.items {

    list-style-position: inside;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 20px;
    margin: 20px;
    text-align: justify;
    color: #343840;

}

.Ainformation {
    font-family: 'Open Sans',
        sans-serif;
    color: #343840;
    font-size: 18px;

}

.Ainformationlink {
    margin: 20px;
    color: #253b80;
    text-decoration: none;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 20px;
}

.Ainformationlink:hover {
    text-decoration: underline 2px #253b80;
    color: #253b80;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.imgU {
    width: 70%;
    cursor: pointer;

}

.masInformacion {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans',
        sans-serif;
}


.link {
    color: #343840;
    margin: 20px;
    text-decoration: none;
    font-family: 'Open Sans',
        sans-serif;
    font-size: 20px;
}

.btn {
    width: 200px;
    padding: 5px;
    width: max-content;
    cursor: pointer;
    margin-top: 30px;
    height: 50px;
    font-size: 20px;
    border: #253b80 solid 2px;
    color: #343840;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.15);
}

.btn:hover {
    color: #f9f9f9;
    background-color: #253b80;
}

.btn a:hover {
    color: #f9f9f9;

}

.btnInformacion {
    cursor: pointer;
    background-color: #f9f9f9;
    width: 170px;
    height: 50px;
    font-size: 20px;
    border: #253b80 solid 2px;
    color: #343840;
}

.accordion {
    background-color: #eee;
    color: #253b80;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    text-align: left;
    font-size: 18px;
    font-family: 'Open Sans',
        sans-serif;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0px 30px;
}



.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.active,
.accordion:hover {
    background-color: #253b80;
    color: #f9f9f9;
}


.faq {
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin: 20px;
    text-align: justify;
    width: 90%;
}

.tabsContainer {
    grid-area: tabsContainer;
}

.fade {
    animation-name: fade;
    animation-duration: 3.5s;
}

footer {
    margin-top: 20px;
    background-color: #343840;

}

.tNosotros {
    display: flex;
    justify-content: center;
    grid-area: tnosotros;
}

.tNovedades {
    display: flex;
    justify-content: center;
    grid-area: tnovedades;
}

.tContacto {
    display: flex;
    justify-content: center;
    grid-area: tcontacto;
}

.nosotros {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;

    grid-area: nosotros;
}

.novedades {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    grid-area: novedades
}

.contacto {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 5px;

    grid-area: contacto;
}

.fTitle {
    color: #f9f9f9;
    font-family: 'Koulen',
        cursive;
    font-size: 30px;
}

.fItemlist {
    list-style: none;
    font-family: 'Open Sans',
        sans-serif;
    cursor: pointer;
    color: #f9f9f98f;

}

.md-c-r {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    text-align: justify;
    margin-left: 10%;

}

.md-c-l {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
    text-align: justify;
    margin-left: 10%;
}


@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.gallery {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.image img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    -webkit-filter: brightness(60%);
    filter: brightness(60%);

}

.txt {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.txt p {
    font-family: 'Open Sans',
        sans-serif;
    font-size: 22px;
    text-align: justify;
}

.txt h1 {
    text-align: center;
    font-family: 'Koulen',
        cursive;
    font-size: 70px;

}

.infoimg {
    width: 400px;
    height: auto;
    margin-left: 20px;
}

.imgcontainer {
    width: 100%;
    margin: 0px 10px;
    justify-content: center;
}

.infobox {
    margin-top: 20px;
}

.information {
    margin-top: 5px;
    text-align: justify;
    font-size: 16px;
    font-family: 'Open Sans',
        sans-serif;
}

.infobox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.txtcon {
    margin-top: 10px;
    width: 90%;
    margin: 0px 30px;
}

.btncon {
    width: 90%;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    margin-top: 30px;
    height: 40px;
    font-size: 20px;
    border: #253b80 solid 2px;
    color: #343840;
    border-radius: 5px;
}

.btncon:hover {
    color: #f9f9f9;
    background-color: #253b80;
}

.link:hover {
    color: #f2f2f2;
    background-color: #253b80;
}

.itxt {
    background-color: #343840;

}

.titlec {
    color: #f2f2f2;
    font-family: 'Koulen',
        cursive;
    font-size: 50px;
    text-align: center;
    letter-spacing: 2px;
}

.formcontainer {
    grid-area: form;
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 18px;
    font-family: 'Open Sans',
        sans-serif;
}


input,
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #253b80;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
}

label {
    font-family: 'Koulen',
        cursive;
    font-size: 25px;
    color: #336699;
}

.formcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.15);
}

.btnform {

    width: 90%;
    cursor: pointer;
    margin-top: 30px;
    height: 50px;
    font-size: 20px;
    border: #253b80 solid 2px;
    color: #343840;
    border-radius: 5px;
}

.mapcontainer {

    width: 90%;
    display: flex;


}

.map {
    margin: 20px;
    -webkit-box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 21px 5px rgba(0, 0, 0, 0.15);
}

.itxt {
    margin-top: -4px;
}